
.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    color: white;
}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10px;
}
.menu-items li:hover{
    color: blue;
    cursor: pointer;
}
.banner-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    align-items: center;
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 24px;
}
.title1{
    font-size: 60px;
    color: white;
    font-weight: bold;
}






.img-gym{
    width: 100%;
    height: 100vh;
}
.gym-background{
    background-color: black;
}
.gym-join{
    display: flex;
    margin-left: 80px;
    padding-bottom: 80px;
}
.heading{
    color: red;
}
.gym-text{
    margin-top: 200px;
}
.gym-health{
    color: white;
    font-size: 60px;
}
.para-gym{
    color: white;
    font-size: 22px;
    margin-bottom: 30px;
}
#btn-more{
    background-color: red;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 20px;
}
.icon-area{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.take-look{
    text-align: center;
    font-size: 35px;
}
.gym-para{
    border: 1px solid black;
    text-align: center;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-us-area{
    background-color: black;
    color: white;
}
.experience{
    display: flex;
}
.workout-area{
    background-image: url(images/shape/Group_33094_1.png);
    background-position: center;
}
