
.menu-container{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    color: white;
}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10px;
}
.menu-items li:hover{
    color: blue;
    cursor: pointer;
}
.banner-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    align-items: center;
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 24px;
}
.title1{
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.text{
    font-size: 25px;
    margin: 10px;
    color: white;
}
.banner-btn{
    padding: 15px 30px;
    background-color: rgb(244, 6, 45);
    font-size: 18px;
    color: white;
}
.title2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.section-two{
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    width: 320px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;

}
.card1:hover{
    border: 1px solid rgb(243, 29, 29);
    margin-top: 0px;
    transition: .8ms;
}
.gym-icon{
    width: 50px;
}
.about-container{
    display: flex;
}
.about-left{
    width: 700px;
    border: 1px solid rebeccapurple;
}
.about-right{
    width: 700px;
    border: 1px solid black;
}
.workout-image{
    display: flex;
}
.workout-image img{
    width: 650px;
    height: 550px;
    transform: scaleY(-15deg);
}

